<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDir" value="${basedir}logs" />
  <targets>
      <target name="logTrace" xsi:type="File" fileName="${logDir}\trace.txt" />
      <target name="logDebug" xsi:type="File" fileName="${logDir}\debug.txt" />
      <target name="logInfo" xsi:type="File" fileName="${logDir}\info.txt" />
      <target name="logErrors" xsi:type="File" fileName="${logDir}\errors.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="logTrace" />
      <logger name="*" level="Debug" writeTo="logDebug" />
      <logger name="*" level="Info" writeTo="logInfo" />
      <logger name="*" minlevel="Warn" writeTo="logErrors" />
    </rules>
</nlog>
