

<div class="post-message">
    <h4 style="color:burlywood">User</h4>
    <hr/>
    <p> some textsome textsome textsome textsome textsome textsome textsome textsome textsome text</p>
    <hr/>
    <p>@DateTime.Now</p>
</div>

<div class="post-message">
    <h4 style="color:burlywood">User</h4>
    <hr/>
    <p> some textsome textsome textsome textsome textsome textsome textsome textsome textsome text</p>
    <hr/>
    <p>@DateTime.Now</p>
</div>

<div class="post-message">
    <h4 style="color:burlywood">User</h4>
    <hr />
    <p> some textsome textsome textsome textsome textsome textsome textsome textsome textsome text</p>
    <hr />
    <p>@DateTime.Now</p>
    
</div>