@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="find-panel">
    <div style="float: left; width: 70%">
        <input id="text-search" type="text" class="form-control" value="Поиск..."/>
    </div>
    <div style="float: left; width: 15%">
        <button id="btn-search-twit" class="btn btn-default">Поиск</button>
    </div>
</div>

<div class="message-panel">
    <label>Что-то новое?</label>
    <hr/>
    <textarea id="text-post-message"class="form-control" style="height: 75px"></textarea>
    <button id="btn-post-twit" class="btn btn-info">Твитнуть</button>
</div>
<div class="posts-feed-panel">
    @{
        Html.RenderAction("PostsFeed", "User");
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/posts-feed-tools")
}