@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="find-panel">
    @*<div class="input-append">
        <input type="text" class="span2 ">
        <button type="submit" class="btn btn-default">Найти</button>
    </div>*@
    <div style="float: left; width: 70%">
        <input id="text-search" type="text" class="form-control" placeholder="Поиск..."/>
    </div>
    <div style="float: left; width: 15%">
        <button id="btn-search-twit" class="btn btn-default">Поиск</button>
    </div>
</div>

<div class="message-panel">
    <label>Что-то новое?</label>
    <hr/>
    <textarea id="text-post-message"class="form-control" style="height: 75px" maxlength="500"></textarea>
    <button id="btn-post-twit" class="btn btn-info">Твитнуть</button>
</div>
<div class="posts-feed-panel">
    @{
        Html.RenderAction("PostsFeed", "User");
    }
</div>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                <h4>Подтверждение удаления</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить этот твит?
                <p />
            </div>
            <div class="modal-footer">
                <button id="btn-accept-delete" class="btn" data-twit-id="">Да</button>
                <button id="btn-reject-delete" class="btn">Нет</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/posts-feed-tools")
}